<!--フォロー欄管理画面-->

{% load static %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title><!--ウェブサイト上部の説明欄てきな-->
    <link rel="stylesheet" type="text/css" href="{% static 'ran/text.css' %}" />
   

</head>
<body bgcolor="#111">
    <!-- 以下が画面上に表示されるボタンコード -->
  
    <br><br>
    <div class="container">
        <div class="container1">
            <a href="{% url 'user' %}" class="button button--1">myapage</a>
            <a href="{% url 'post' %}" class="button button--1">削除</a>
            <a href="{% url 'mypage' %}"  class="button button--1">フォロー欄</a>
        </div>
    </div>
    
        <br><br><br<br>
        
        <div align = "center">
            <font color = "#555">
                <font size = "5">
                以下のゲーム内容を消去します
                </font>
                <br><br><br><br>
                <font size = "7"
                    <div class="oooo">・{{data.content}}</div><br>
                </font>
                <div align = "center">
                    <form action="{% url 'deletecontent' id %}" method="post">
                        {% csrf_token %}
                    <input type="submit" style="width: 400px;" value="削除確定" class="button button--2">
                    </form>
                </div>
            </font>
        </div>

</body>
</html>
