{% block content %}
{% load static %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title><!--ウェブサイト上部の説明欄てきな-->
    <link rel="stylesheet" type="text/css" href="{% static 'ran/text.css' %}" />
   

</head>
<body bgcolor="#111">
    <!-- 以下が画面上に表示されるボタンコード -->
  
    <br><br>
    <div class="container">
        <div class="container1">
            <a href="{% url 'user' %}" class="button button--1">myapage</a>
            <a href="{% url 'new' %}" class="button button--1">投稿</a>
            <a href="{% url 'whogood' %}" class="button button--1">いいね欄</a>
            <a href="{% url 'mypage' %}"  class="button button--1">フォロー欄</a>
        </div>
    </div>
    <br>


<br>
<div class="an"></div>
    <div align="center">
        <font color = "white"> -----------------------</font>
        {% for item in datas %}
            <table>
                <tr>
                <td>
                    <a href="{% url 'startt' item.id%}" class="button2 button--2">
                        <div align="center">
                            <p>作成者：{{item.user}}</p>
                            <p>ゲームタイトル：{{item.odai}}</p>
                        </div>
                </td>
                </tr>
                {% endfor %}
            </table>        
    </div>  
  

{% endblock %}
</div>
</body>
</html>
